//Tipografias
$font: 'Mulish', sans-serif;
$sizeDefault: 16px;

//Colors
$color-primary: #89C5CC;
$color-secundary: #69B99D;

// Containers sizes
$container: 1280px;

// Responsive
$tablet-breakpoint: 1023px;
$movil-breakpoint: 767px;