#header {
    padding: 20px;
    width: 85%;
    margin: auto;
}

.header-content {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

#nav {
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: black;
    }
}