@media only screen and (max-width: $tablet-breakpoint) {
    body {
        font-size: $sizeDefault - 2;
    }

    //Header
    #nav {
        display: none;
    }

    #menu-link {
        display: block;
        float: right;
    }

    //Hero
    .hero-content {
        h1 {
            font-size: 2.3rem;
        }
    }

    .hero-img {
        width: 50%;
        margin: 0 auto;
    }

    .btn {
        width: 30%;
    }
}